@{
    ViewBag.Title = "Roles de Usuario";
    var user = "";
    if(ViewData["usuario"] != null)
    {
        user = ViewData["usuario"].ToString();
    }
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/roluser.css" />
    <style>
        .container {
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 500px;
            padding: 0 20px;
            width: 100%;
        }
    </style>
}

<div class="container">
    <div class="container" style="margin-top: 150px;">
        <h2 style="text-align:center; font-weight:bold">Roles de Usuario</h2>
        <p style="font-weight:bold">Usuario: <label>@user</label></p>
    </div>
    <form>
        <select multiple="multiple" id="rol"></select>
    </form>
    <br /><button type="button" class="btn btn-info pull-right" id="btn_actualizar">Guardar</button><br />
</div>

@section Scripts{
    <script src="/js/multiSelect.js"></script>
    <script>
        $(document).ready(function () {
            var select = document.getElementById("rol");

            function uploadRolesUsuario() {
                var http = new XMLHttpRequest();
                http.open("GET", host + "/Usuario/GetRolesUsuario/@user", true);
                http.setRequestHeader("Content-Type", "application/json");

                http.onreadystatechange = function () {
                    if (http.readyState === 4 && http.status === 200) {
                        var json = http.responseText;
                        try {
                            var roles = JSON.parse(json);
                            var a_array = document.querySelectorAll('.non-selected-wrapper a');
                            for (var i = 0; i < a_array.length; i++) {
                                var a = a_array[i];
                                for (var j = 0; j < roles.length; j++) {
                                    if (a.getAttribute('data-clave') == roles[j]['id']) {
                                        var event = new Event('click');
                                        a.addEventListener('click', function (e) {
                                            toggle_option(select, e, {});
                                        });
                                        a.dispatchEvent(event);
                                    }
                                }
                            }
                        } catch (e) {}
                    }
                };
                http.send();
            }    

            function uploadRoles() {
                var http = new XMLHttpRequest();
                http.open("GET", host + "/Rol/GetRoles/-1", true);
                http.setRequestHeader("Content-Type", "application/json");

                http.onreadystatechange = function () {
                    if (http.readyState === 4 && http.status === 200) {
                        var json = http.responseText;
                        try {
                            var roles = JSON.parse(json);
                            for (var i = 0; i < roles.length; i++) {
                                var option = document.createElement('option');
                                option.setAttribute('data-clave', roles[i]['id']);
                                option.innerHTML = roles[i]['descripcion'];
                                select.appendChild(option);
                            }
                            multi(select, {
                                non_selected_header: "Roles",
                                selected_header: "Roles Seleccionados"
                            });
                        } catch (e) {
                            showAlert("Advertencia", "Roles no encontrados!");
                        }
                        uploadRolesUsuario();
                    }
                };
                http.send();
            }

            uploadRoles();

            document.getElementById('btn_actualizar').addEventListener('click', function (e) {
                var http = new XMLHttpRequest();
                http.open("POST", host + "/Usuario/RolesUsuarioInsert", true);
                http.setRequestHeader("Content-Type", "application/json");

                http.onreadystatechange = function () {
                    if (http.readyState === 4 && http.status === 200) {
                        var json = http.responseText;
                        try {
                            var resp = JSON.parse(json);
                            var modal = createCustomModal("Mensaje");
                            modal.nodes('Roles de @user fueron actualizados correctamente!');
                            modal.onExit(function () {
                                window.location.replace(host + "/Usuario/Actualizar/@user");
                            });
                            modal.fire();
                        } catch (e) {
                            showAlert("Error", "Roles de @user no fueron actualizados!");
                        }
                    }
                };

                var selected = document.querySelectorAll('.selected-wrapper a');
                var roles = [];
                for (var i = 0; i < selected.length; i++) {
                    roles.push({ "Id": parseInt(selected[i].getAttribute('data-clave')) });
                }
                var json_send = JSON.stringify({ "Id": "@user", "Roles": roles });
                http.send(json_send);
            });
        });
    </script>
}

