
@{
    ViewBag.Title = "401";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/error.css">
}

<br /><br /><br /><br /><br /><br />
<h1>401 Unauthorized </h1>
<p class="zoom-area"><b>401</b> No tiene permiso para recibir este contenido. </p>
<center>
    <img style="width:220px; height:90px;" src="/img/dece2.png" />
</center>
<section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>1</span></span>
</section>
