
@{
    ViewBag.Title = "403";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/error.css">
}

<br /><br /><br /><br /><br /><br />
<h1>403 Forbidden</h1>
<p class="zoom-area"><b>403</b> Usted no posee los permisos para realizar esta acci&oacute;n. </p>
<center>
    <img style="width:220px; height:90px;" src="/img/dece2.png" />
</center>
<section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>3</span></span>
</section>