
@{
    ViewBag.Title = "404";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/error.css">
}

<br /><br /><br /><br /><br /><br />
<h1>404 Not Found</h1>
<p class="zoom-area"><b>404</b> No se encontr&oacute; el recurso. </p>
<center>
    <img style="width:220px; height:90px;" src="/img/dece2.png" />
</center>
<section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
</section>


