@{
    ViewBag.Title = "Error";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/errorP.css">
    <link REL=StyleSheet href="/css/site.css" type="text/css">
}

<br /><br /><br /><br /><br /><br />
<h1> Error de P&aacute;gina </h1>
<p class="zoom-area"><b>Ha ocurrido un error, estamos trabajando en ello!</b> </p>
<center>
    <img style="width:220px; height:90px;" src="/img/dece2.png" />
</center>
<section class="error-container">
    <span><span>E</span></span>
    <span>R</span>
    <span>R</span>
    <span>O</span>
    <span><span>R</span></span>
</section>