@{ 
    ViewBag.Title = "DECE";
}

<!-- Masthead -->
<div class="masthead text-white text-center z" style="margin-top: 90px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row ">
            <div class="col-xl-9 mx-auto" style="z-index:0!important;">
                <h1 class="mb-5">Instancia responsable de la atención integral de las y los estudiantes. </h1>
            </div>
        </div>
    </div>
</div>
   
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/colegio1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Foto 1</h2>
                <p class="lead mb-0">Descripción de la foto</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/img/colegio2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Foto 2 de la Institución</h2>
                <p class="lead mb-0">Descripción de la Foto</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/dece.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Infomación del Departamento</h2>
                <p class="lead mb-0">Descripción</p>
            </div>
        </div>
    </div>
</section>

<!-- autoridades -->
<section class="autoridades text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Unidad Educativa "Nombre" </h2>
        <div class="row">
            <div class="col-lg-4" style="z-index:0 !important;">
                <div class="autoridades-item mx-auto mb-5 mb-lg-0"  style="z-index:0 !important;">
                    <img    class="img-fluid rounded-circle mb-3" src="/img/doctor.jpg" alt="">
                    <h5  >Doctor</h5>
                    <p class="font-weight-light mb-0">"Nombre del Doctor de la institución"</p>
                </div>
            </div>
            <div class="col-lg-4" style="z-index:0 !important;">
                <div class="autoridades-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/img/director.jpg" alt="">
                    <h5>Director</h5>
                    <p class="font-weight-light mb-0">"Nombre del Director de la Institución"</p>
                </div>
            </div>
            <div class="col-lg-4" style="z-index:0 !important;">
                <div class="autoridades-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/img/jefe.jpg" alt="">
                    <h5>Jefe Departamento DECE</h5>
                    <p class="font-weight-light mb-0">"Nombre del Jefe  del departamento DECE"</p>
                </div>
            </div>
        </div>
    </div>
</section>

  

    